/* font styling for heading, main heading */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,100;1,700&family=Roboto:wght@100;400;700&display=swap');

.main-heading-styling{
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #CFE7fA;
  background: linear-gradient(to right, #CFE7fA 0%, #CFCFCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  

}

.text-styling{
  font-family: Poppins;
  color: white;

}

.m-extra-1{
  margin-top: 9em;
  margin-bottom: 9em;

}

@media only screen and (max-width:700px) {



  .m-extra-1{
    margin-top: 17em;
    margin-bottom: 27em;
  
  }

}